@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face {
	font-family: 'FonteLogo';
	src: url(../_fonts/bubblegum-sans-regular.otf);
}
body{
	background-color: #dddddd;
	margin: 0;
	padding: 0;
}

div#interface {
	width: 1200px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	padding: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

}

header#cabecalho {
	border-bottom: 1px solid #606060;
	height: 150px;
	
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 15pt;
	color: 888888;
	margin-top: 0px;
}

p {
	text-align: justify;
	text-indent: 50px;
}
/* formataçao do menu */

nav#menu {
	display: flex;
	align-items: center;
}

nav#menu ul{ 
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 600px;
	
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	margin: 10px;
	padding: 10px;
}

nav#menu li:hover {
	background-color: #606060;
	transition: 1s;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
}

nav#menu h1{
	display: none;
}

section#corpo {
	display: block;
	float: left;
	width: 600px;
	padding-right: 15px;
	
	border-right: 1px solid #606060;
}

aside#lateral {
	display: block;
	float: right;
	width: 500px;
	margin: 0%;
	
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}